matplotlib >=3.1.0
pyarrow >=0.15.1
pandas >=0.25.3
GitPython >=3.0.7
pillow >=7.0
tensorflow >=2.0
keras >=2.3
fiona >=1.8
shapely >=1.7
pyproj >=2.4
descartes >=1.1.0
cython >=0.29.15
Carroty >=0.17
geopandas >=0.6.3
geoplot >=0.4
